.card {
    max-width: 18rem;
}

h1 {
    margin-top: 1ex;
}

.section-button:hover {
    background-color: rgb(231, 231, 231);
}

.individual-selector:hover {
    background-color: rgb(246, 244, 244);
}

h5.text-muted {
    color: rgb(73, 73, 73)!important;
}

img {
    max-width: 100%;
}